@media screen and (max-width: 1440px){
  .main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-size: 2.8vw;
    width: 92vw;
    padding-left: 3rem;
    padding-top: 1rem;
    line-height: 2rem;
  }

  .about{
    width: 42vw;
    font-size: 2vw;
    margin-top: 1.1rem;
    }

  .p{
    margin-top: 1.7rem;
    
  }
  .arrowContainer{
    width: 5rem;
    margin: auto;
    margin-top: 1rem; 
    align-items: center;
    text-align: center;
  
  }
  
  .arrowDown{
    width: auto;
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 1024px){

.about{
  width: 50vw;
  font-size: 2.5vw;
  }
}

@media screen and (max-width: 768px){
  .about{
    font-size: 2.8vw;
  }
}

@media screen and (max-width: 425px){

  .main{
    display: flex;
    flex-direction: column;
    padding-left: 0;

  }
  .about{
    font-size: 4.2vw;
    width: 100vw;
    padding: 0.5rem;
    padding-top: 0;
  }
}

@media screen and (max-width: 375px){
  .about{
    font-size: 5.2vw;
    width: 100vw;
    padding: 0.5rem;
    padding-top: 0;
  }
}