
@import url(https://fonts.googleapis.com/css?family=Merriweather);

.container{
  width: 100vw;
  margin-top: 1vh;
  height: 85vh;
}
.flexContainer{
  display: flex;
  width: 100vw;
}
.formContainer{
  background: #07000000;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
  width:50%;
  /* height: 50vh; */
  margin: 0 auto;  
}
.mapContainer{
  /* width: auto;
  height: auto; */
  width: 50%;
  margin-top: 1.5rem; 
}

.iFrame{
  width: 80%;
  height: 80%;
  margin: auto;
  float: right;
  margin-right: 3.5rem;
}

.h1 {
  text-align: center;
  color: #FC0606;
  padding-bottom: 1em;
}

.cf{
  text-align: center;
  width: 100%;
}

.inputContainer{
  width: 100%;
}

.input{
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 80%;
  height: 50px;
  margin-top: 1em;
  resize: none;
  font-size: .8em;
  margin-left: 3vw;
  color: #FC0606;
  border: 1.5px solid #FC0606;
  background-color: #07000000;
}

.textArea{
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 80%;
  height: 170px;
  margin-top: 1em;
  resize: none;
  font-size: 1em;
  margin-left: 3vw;
  color: #FC0606;
  border: 1.5px solid #FC0606;
  background-color: #07000000;
}

.submitContainer{
  width: 100vw;
  margin: auto;
  align-items: center;
  text-align: left;
  margin-left: 2.5rem;
  top: 1rem;
  /* height: 7vh; */
} 

.submit{
  border: 0;
  outline: 0;
  border-radius: 100px;
  width: 14vw;
  height: 7vh;
  margin: auto;
  margin-top: 2vh; 
  color: #FC0606;
  border: 1.5px solid #FC0606;
  background-color: #07000000;
  font-size: 1rem;
  letter-spacing: .2em;
  cursor: pointer;
}

.cf:before,
.cf:after {
  content: ' ';
  display: table;
}

.cf:after {
  clear: both;
}
/* @media screen and (max-width: 1200px){
  .formContainer{
    width: 50vw;
  }
} */


@media screen and (max-width: 900px){
  .h1{
    padding-bottom: 0;
  }
  .flexContainer{
    flex-direction: column;
  }
  .input{
    height: 35px;
    width: 100%;
    margin-left: 0;

  }
  .textArea{
    height: 120px;
    width: 100%;
    margin-left: 0;
  }
  .mapContainer{
    width: 50%;
    margin: auto;
    margin-top: 6vh;
    position: relative;
  }
  .iFrame{
    float:none;
    width: 100%;
  }
  .submitContainer{
    width: auto; 
    margin: auto;
  }
  .submit{
    width: 10vw;
    height: 3.5vh;
  }
}
@media screen and (max-width: 600px){
  .submit{
    width: 15vw;
    height: 4vh;
  }
  
}


