
.Getting_In_Touch_Button_Container{
  margin-top: 3rem;
  margin-left: 3rem;
}
.button{
  font-size: 1rem;
  border: 1px solid red;
  padding: .7rem;
  border-radius: 100px;
  color: red; 
}
.button:hover{
  background-color: red;
  color: #070707;
  border: 1px solid #070707;
  transition: 1.5s;
}

@media screen and (max-width: 425px){
  .Getting_In_Touch_Button_Container{
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .button{
    font-size: .8rem;
    border: 1px solid red;
    padding: .2rem;
    border-radius: 100px;
    color: red; 
  }
}
