*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color: #070000;
}

h1, h2, h3, p, a, Link, li{
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
}

span{
  color: #D01C1C;
}

ul{
  text-decoration: none;
}